h1,
p {
  font-family: Lato;
}
.buttons button {
  margin: 5px;
  height: 50px;
  width: 50px;
  font-size: large;
  background-color: none;
  border: 2px solid #a16b56;
  border-radius: 0.3rem;
  box-shadow: 0 9px #58443c;
}
.buttons button:hover {
  background-color: #a16b56;
  color: white;
  transition-duration: 0.5s;
}
.buttons button:active {
  transition-duration: 0.1s;
  background-color: #a16b56;
  color: white;
  transform: translateY(4px);
  box-shadow: 0 5px #58443c;
}
